<form action="/posts" method="post">
  <p>Post Name: <input type="text" name="name" id="name"></p><br>
  <p>Post Content: <input type="text" name="content" id="content"></p><br>
  <input type="submit" id="submit" value="submit">
</form>
